# Environment files
nodemon.json
.env
.env.*
!.env.example

# Dependencies
# node_modules/

# Uploads directory
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo.env
nodemon.json
